
th {

    text-align: center;
    /*width: 100%;*/
    height: 50px;

}
.hover_gradual:hover {
    /*
       设置圆角属性
    */

    border-collapse: collapse;
    border: inherit;
    transition: 0.5s;
    background: linear-gradient(#f6f6ff, #0eaa46);
    font-size: 20px;
}
.block_info_left {
    padding-left: 660px;
}
.block_info_right {
    padding-right: 700px
}
i {
    border: solid #dbd2d9;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
}

.right {
    transform: rotate(-45deg);
    -webkit-transform: rotate(-45deg);
}

.left {
    transform: rotate(135deg);
    -webkit-transform: rotate(135deg);
}
td {
    text-align: center;
    width:100%;
}
th,td {
    padding: 20px;
    border-bottom: 1px solid #ddd;
}
.table_panel {
    /*border: 5px solid black;*/
    border-collapse: collapse;
    font-family: Futura, Arial, sans-serif;
    position: absolute;
    left:250px;
    width :1000px;

}
.block_info_serv__head {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;

    -ms-flex-pack: center;
    -ms-flex-align: center;
    margin-bottom: 20px;
    padding: 50px 30px;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.07);

    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
    justify-content: space-between;
    -webkit-box-align: center;
    -webkit-align-items: center;
    align-items: center;
}
.block_info_serv__name {
    display: inline;
    color: #4A4A4A;
    vertical-align: top;
    letter-spacing: 0.81px;
    font-size: 18px;
    line-height: 24px;
}
.block_info_serv__gpu {
    margin: 20px;
    margin-top: 0px;
    padding: 20px;
    padding-bottom: 0;
    border-radius: 2px;
    background: #FFF;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.07);
    /*
        overflow-x:scroll;左右滚动
        overflow-x:scroll;上下滚动

        overflow属性: 检索或设置当对象的内容超过其指定高度及宽度时如何显示内容
        overflow: auto; 在需要时内容会自动添加滚动条
        overflow: scroll; 总是显示滚动条
        overflow-x: hidden; 禁止横向的滚动条
        overflow-y: scroll; 总是显示纵向滚动条
        */
    overflow-y:scroll;
    overflow-x: auto;
    overflow: scroll;
    scrollbar-face-color: #006400;/*'滚动条凸出部分的颜色*/
    scrollbar-highlight-color:   #FFFFFF;/*' 滚动条空白部分的颜色*/
    scrollbar-shadow-color:   #006400;/*滚动条立体的颜色*/
    scrollbar-3dlight-color:    #006400;/*滚动条亮边的颜色*/
    scrollbar-arrow-color:   #006400;
    scrollbar-track-color:    #006400;
    scrollbar-darkshadow-color:    #006400;
}
.block_info_serv__grid-3 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: stretch;
    margin-left: -20px;
    width: 100%;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-align: stretch;
    -webkit-align-items: stretch;
    align-items: stretch;

}
.block_info_serv {
    overflow-x: hidden;
    margin-bottom: 35px;
    border-radius: 3px;
    background-color: #F2F4F8;
    box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.15);
}

