/*@import url("https://fonts.googleapis.com/css?family=Open+Sans");*/
/* cyrillic-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWJ0bbck.woff2) format('woff2');
    unicode-range: U+0460-052F, U+1C80-1C88, U+20B4, U+2DE0-2DFF, U+A640-A69F, U+FE2E-FE2F;
}
/* cyrillic */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFUZ0bbck.woff2) format('woff2');
    unicode-range: U+0400-045F, U+0490-0491, U+04B0-04B1, U+2116;
}
/* greek-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWZ0bbck.woff2) format('woff2');
    unicode-range: U+1F00-1FFF;
}
/* greek */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVp0bbck.woff2) format('woff2');
    unicode-range: U+0370-03FF;
}
/* vietnamese */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFWp0bbck.woff2) format('woff2');
    unicode-range: U+0102-0103, U+0110-0111, U+1EA0-1EF9, U+20AB;
}
/* latin-ext */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFW50bbck.woff2) format('woff2');
    unicode-range: U+0100-024F, U+0259, U+1E00-1EFF, U+2020, U+20A0-20AB, U+20AD-20CF, U+2113, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
    font-family: 'Open Sans';
    font-style: normal;
    font-weight: 400;
    src: local('Open Sans Regular'), local('OpenSans-Regular'), url(https://fonts.gstatic.com/s/opensans/v15/mem8YaGs126MiZpBA-UFVZ0b.woff2) format('woff2');
    unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02BB-02BC, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2122, U+2191, U+2193, U+2212, U+2215, U+FEFF, U+FFFD;
}
*, *:after, *:before {
    box-sizing: border-box;
}

body {
    background: #eee;
    font-family: 'Open Sans', sans-serif;
}
/* fallback */
@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url(https://fonts.gstatic.com/s/materialicons/v38/flUhRq6tzZclQEJ-Vdg-IuiaDsNc.woff2) format('woff2');
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}
.grop-from {
    width: 360px;
    height: 70px;
    background: #fff;
    position: fixed;
    left: 50%;
    top: 50%;
    -webkit-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    border-radius: 50px;
}
.grop-from .form-body {
    height: 70px;
    overflow: hidden;
    border-radius: 50px;
}
.grop-from .form-body .error-text {
    position: absolute;
    left: 80px;
    top: 4px;
    z-index: 25;
    color: #b71c1c;
    font-size: 10px;
    font-weight: 600;
    display: none;
}
.grop-from .form-body .form-controls {
    position: relative;
    z-index: 5;
    transition: ease-in 0.2s;
    top: 0;
}
.grop-from .form-body .form-controls input {
    display: block;
    width: 100%;
    height: 70px;
    padding: 10px 60px 10px 80px;
    font-size: 18px;
    color: #666;
    border: none;
}
.grop-from .form-body .form-controls input:focus {
    outline: none;
}
.grop-from .form-head {
    position: absolute;
    left: 0;
    top: 0;
    width: 70px;
    height: 100%;
    background: #F50057;
    border-radius: 50px;
    text-align: center;
    line-height: 70px;
    font-size: 22px;
    color: #fff;
    cursor: pointer;
    z-index: 40;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    transition: ease-in 0.2s;
}
.grop-from .form-head .text {
    display: none;
}
.grop-from .form-head .text:before {
    font-family: 'Open Sans', sans-serif;
}
.grop-from .form-action {
    position: absolute;
    width: 50px;
    height: 50px;
    background: #fefefe;
    text-align: center;
    right: 10px;
    top: 50%;
    border-radius: 50px;
    -webkit-transform: translateY(-50%);
    transform: translateY(-50%);
    z-index: 50;
    cursor: pointer;
    transition: 0.3s;
    border: none;
    outline: none;
    color: inherit;
}
.grop-from .form-action:hover {
    background: #f9f9f9;
}
.grop-from .form-action .icon-action {
    transition: ease-in 0.2s;
}
.grop-from .form-action .icon-action:after {
    line-height: 50px;
    content: 'arrow_forward';
}
.grop-from .form-action .icon-action.back {
    -webkit-transform: rotate(180deg);
    transform: rotate(180deg);
}
.grop-from .icon-placeholder {
    font-size: 40px;
    line-height: 70px;
}
.grop-from#signup {
    color: #fff;
}
.grop-from#signup .form-head {
    width: 100%;
}
.grop-from#signup .form-head .icon-placeholder {
    display: none;
}
.grop-from#signup .form-head .text {
    display: block;
}
.grop-from#signup .form-head .text:before {
    content: 'Start A Transaction';
    right: 20px;
}
.grop-from#signup .form-action {
    right: 10px;
    background: none;
    line-height: 65px;
}
.grop-from#signup .form-action .icon-action.back {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
.grop-from#success {
    color: #fff;
}
.grop-from#success .form-head {
    width: 100%;
    background: rgb(7, 182, 97);
}
.grop-from#success .form-head .icon-placeholder {
    display: none;
}
.grop-from#success .form-head .text {
    display: block;
}
.grop-from#success .form-head .text:before {
    content: 'Trade Successfully';
}
.grop-from#success .form-action {
    right: 10px;
    background: none;
    line-height: 65px;
}
.grop-from#success .form-action .icon-action.back {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}
.grop-from#success .form-action .icon-action:after {
    content: 'mood';
}
.grop-from#name {
    color: #9C27B0;
}
.grop-from#name .form-head {
    background: #9C27B0;
}
.grop-from#name .form-head .icon-placeholder:after {
    content: 'face';
}
.grop-from#value {
    color: #dbcc59;
}
.grop-from#value .form-head {
    background: #dbcc59;
}
.grop-from#value .form-head .icon-placeholder:after {
    content: "";
}
.grop-from#value .form-body .form-controls {
    top: -70px;
}
.grop-from#account {
    color: #039BE5;
}
.grop-from#account .form-head {
    background: #039BE5;
}
.grop-from#account .form-head .icon-placeholder:after {
    content: 'face';
}
.grop-from#account .form-body .form-controls {
    top: -140px;
}
.grop-from#password {
    color: #37474F;
}
.grop-from#password .form-head {
    background: #37474F;
}
.grop-from#password .form-head .icon-placeholder:after {
    content: 'lock_outline';
}
.grop-from#password .form-body .form-controls {
    top: -210px;
}
.grop-from#password-repeat {
    color: #212121;
}
.grop-from#password-repeat .form-head {
    background: #212121;
}
.grop-from#password-repeat .form-head .icon-placeholder:after {
    content: 'lock';
}
.grop-from#password-repeat .form-body .form-controls {
    top: -280px;
}
.grop-from.error .form-head {
    background: #b71c1c !important;
}
.grop-from.error .form-head .icon-placeholder:after {
    content: 'close' !important;
}
.grop-from.error .form-body .form-controls input:-moz-placeholder {
    color: #b71c1c;
}
.grop-from.error .form-body .form-controls input::-moz-placeholder {
    color: #b71c1c;
}
.grop-from.error .form-body .form-controls input:-ms-input-placeholder {
    color: #b71c1c;
}
.grop-from.error .form-body .form-controls input::-webkit-input-placeholder {
    color: #b71c1c;
}
/*颜色渐变*/
.header {

    -moz-animation: mymove 1s ease infinite;
    background: #c7b9c6;
    background: -moz-linear-gradient(-135deg, #944fa8, #47d0b7);
    background: -o-linear-gradient(90deg, #496eaa, #944fa8, #a8804f, #496eaa);
    background: -moz-linear-gradient(-135deg, #c8bcba, #47d0b7);
    background: linear-gradient(-135deg, #944fa8, #47d0b7);
}
.txt2_new {
    font-family: Poppins-Regular;
    font-size: 20px;
    line-height: 1.5;
    color: #fffaf7;
    top: 1000px;
    text-decoration:none;
}
.gobacktxt_new {
    text-decoration:none;
}
@keyframes mymove
{
    0% {
        background-position: 0% 0%; }
    50% {
        background-position: 50% 100%; }
    100% {
        background-position: 100% 0%; }
}
.goback_btn {

    padding: 0.8em 2.0em;
    font-size: 1.4rem;
    letter-spacing: .15em;
    font-weight: 700;
    width: 200px;
    text-transform: uppercase;
    text-align: center;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.08);
    background-color: #c850c0;
    border-radius: 50px;
}
.material-icons, .grop-from .form-action .icon-action, .icon-placeholder {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    /* Preferred icon size */
    display: inline-block;
    line-height: 1;
    text-transform: none;
    letter-spacing: normal;
    word-wrap: normal;
    white-space: nowrap;
    direction: ltr;
    -webkit-font-smoothing: antialiased;
    text-rendering: optimizeLegibility;
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-feature-settings: 'liga';
    font-feature-settings: 'liga';
}
